<footer class="footer w-100 text-white">
  <div class="bg-black w-100">
    <ul class="w-50 mx-auto py-22" fxLayout="row" fxLayoutGap="70" fxLayoutAlign="center center">
      <li class="fw-600" *ngFor="let list of lists">{{list}}</li>
    </ul>
  </div>
  <div class="bg-black-95 py-60 fs-20 fw-400" fxLayout="column" fxLayoutGap="20"  fxLayoutAlign="center center">
    <p class="m-0">“They always say time changes things, but you actually have to change them yourself.” - A. Warhol</p>
    <div fxLayout="row" fxLayoutGap="20" fxLayoutAlign="center center">
      <i class="pi pi-facebook cursor--pointer"></i>
      <i class="pi pi-twitter cursor--pointer"></i>
    </div>
    <p class="m-0 text-primary">Created By Blank</p>
  </div>
</footer>
