<div class="chats w-100 bg-light">
  <div class="px-20">
    <div fxLayout="row" fxLayoutGap="20" fxLayoutAlign="start end">
      <img src="../../../assets/images/bot.svg" class="rounded--circle bg-pink p-8" alt="bot" width="40" height="40">
      <div>
        <p class="w-60 p-12 bg-secondary rounded">Hello user</p>
        <p class="w-60 p-12 bg-secondary rounded">Welcome back! What can we help you with?</p>
      </div>
    </div>
    <div fxLayout="column" fxLayoutGap="12" fxLayoutAlign="end end">
      <p class="p-12 border--light-blue rounded my-0">Help articles</p>
      <p class="p-12 border--light-blue rounded my-0">Talk to support</p>
      <p class="p-12 border--light-blue rounded my-0">I have a question</p>
    </div>
  </div>
  <div class="w-100 px-20 py-10 my-30 position--fixed bg-white chats--footer" fxLayout="row" fxLayoutGap="20" fxLayoutAlign="start center">
    <input type="text" class="w-70 py-12 bg-secondary" placeholder="Type here...">
    <p class="fs-10 text-primary border--primary p-2 rounded cursor--pointer">GIF</p>
    <i class="pi pi-paperclip cursor--pointer" style="font-size: 18px"></i>
    <i class="pi pi-wrench cursor--pointer" style="font-size: 18px"></i>
  </div>
</div>
