@import "../../../assets/stylesheets/_variables.scss";

.chat {
  right: 0;
  bottom: 0;
  margin-bottom: 50px;
  margin-right: 6px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
}

.chat--container {
  width: 400px;
  height: 50vh;
  right: 0;
  bottom: 0;
  margin-bottom: 120px;
  margin-right: 120px;
  border-radius: 20px;
  z-index: 1000;
}

.chat--header {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

:host .rounded--circle {
  z-index: 9999 !important;
}
