@import "../../../assets/stylesheets/_variables.scss";

.post {
  .dropzone {
    border: 2px dashed $primary;
    &__container {
      background: $lightenMore !important;
      border: none;
    }
  }
  //#partnerForm {
  //  display: none;
  //}
}
