@import "../../../../../assets/stylesheets/_variables.scss";

:host ::ng-deep.login-wrapper {
  //height: 100vh;
  margin: 0;

  li {
    width: 50%;
  }
  .p-tabview-nav-link {
    justify-content: center;
  }
  .signin-potions {
    border-top: 2px solid $primary ;
  }
  .p-dropdown{
    width: 100% !important;
    margin-bottom: 16px;
    background-color: #F1EEE9;
  }
}
.dropzone {
  border: 2px dashed $primary;
  &__container {
    background: $lightenMore !important;
    border: none;
  }
}