<div class="nav position--sticky">
  <app-navigation></app-navigation>
</div>
<!--<app-chat-bot></app-chat-bot>-->
<!--<app-auth></app-auth>-->
 <app-share></app-share>
<router-outlet></router-outlet>
<!--<app-login></app-login>-->
<!--<app-landing-page></app-landing-page>-->
<!--<app-public-profile></app-public-profile>-->
<!--<app-post-location></app-post-location>-->
<!--<app-profile-list></app-profile-list>-->
<!--<app-edit-profile></app-edit-profile>-->
<!--<app-blog-post></app-blog-post>-->
<!--<app-blog></app-blog>-->
<!--<app-blog-creation></app-blog-creation>-->
<!--<app-petition-list></app-petition-list>-->
<!--<app-endorsement-list></app-endorsement-list>-->
<!--<app-map></app-map>-->
<!--<app-endorsement></app-endorsement>-->
<!--<app-post-endorsement></app-post-endorsement>-->
<!--<app-signup></app-signup>-->
<!--<app-event></app-event>-->
<!--<app-host-event></app-host-event>-->
<!--<app-calender></app-calender>-->
<!--<app-auth-container></app-auth-container>-->
<!--<app-guidance></app-guidance>-->
  <app-chat-bot></app-chat-bot>

<!--<app-admin-dashboard></app-admin-dashboard>-->
<app-footer></app-footer>

