@import "src/assets/stylesheets/variables";

:host ::ng-deep.auth-container {
  height: 100vh;
  margin: 0;

  .p-tabmenu .p-tabmenu-nav {
    display: flex;
    justify-content: space-around;
    font-size: 12px !important;
  }

  .p-tabmenu .p-tabmenu-nav .p-tabmenuitem {
    width: 50% !important;
    text-align: center !important;
  }
}
