<div class="position--fixed bg-white p-10 rounded mt-180 box--shadow" fxLayout="column" fxLayoutGap="16">
  <i class="pi pi-copy p-8 border--secondary rounded cursor--pointer" style="font-size: 20px" (click)="copyUrl()"></i>
  <i class="pi pi-envelope p-8 border--secondary rounded cursor--pointer" style="font-size: 20px"></i>
  <i class="pi pi-twitter p-8 border--secondary rounded cursor--pointer" style="font-size: 20px"></i>
  <i class="pi pi-facebook p-8 border--secondary rounded cursor--pointer" style="font-size: 20px"></i>
</div>
