<div class="w-100 my-30">
  <div class="w-70 mx-auto" fxLayout="column" fxLayoutGap="60">
    <div class="w-100 p-50 border--secondary rounded--md position--relative" fxLayout="column" fxLayoutAlign="end">
      <h1 class="fs-30 m-0">Posts From {{location}}</h1>
      <p class="text-darken w-50">“Innovation is taking two things that exist and putting them together in a new way.“ - Tom Freston</p>
      <div fxLayout="row wrap" fxLayoutGap="20" fxLayoutAlign="start center">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input type="text" pInputText placeholder="Search" />
                </span>
        <div class="endorsement-menu py-8 px-24 rounded--lg text-darken fs-22 fw-400 text--black-75" *ngFor="let item of categories">{{item}}</div>
      </div>
      <h2 class="article-title position--absolute fs-28 bg-white px-40 m-0 text--center" fxFlexAlign="center">Posts</h2>
    </div>
    <div class="w-100 p-50 endorsement-post" fxLayout="column" fxLayoutAlign="start center">
      <div class="bg-white p-4 rounded--lg" fxLayout="row" fxLayoutGap="12" fxLayoutAlign="start center">
        <img src="../../../assets/images/profile.png" width="60" height="60" alt="profile">
        <p class="text-primary pe-16">Karma Tenzin</p>
      </div>
      <h2 class="fs-28 mt-32" fxFlexAlign="center">This is a blog post title</h2>
      <p class="fs-20 m-0 text-darken">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet lorem vebulum, elementum.</p>
    </div>
    <div class="w-90 mx-auto py-50 post" fxLayout="row wrap" fxLayoutAlign="space-between">
      <div class="w-30 position--relative" fxLayout="column" fxLayoutGap="20" fxLayoutAlign="center" fxFlex="calc(30%-60px)" *ngFor="let post of posts">
        <img src="../../../assets//images//post__cover.png" class="position--relative" width="100%" height="420" alt="post cover">
        <div class="post__chip bg-white pe-12 rounded--lg position--absolute cursor--pointer" fxLayout="row" fxLayoutGap="12" fxLayoutAlign="start center" fxFlexAlign="center">
          <img src="../../../assets/images/profile.png" width="40" height="40" alt="profile">
          <p class="text-primary">Karma Tenzin</p>
        </div>
        <h2 class="fs-28 m-0">{{post.title}}</h2>
        <p class="text-primary fs-20 box--shadow-bottom m-0 pb-20">{{post.description}}</p>
        <div class="w-100 pb-16 box--shadow-bottom" fxLayout="row" fxLayoutAlign="space-between center">
          <p-progressBar class="w-70" value="50"></p-progressBar>
          <p class="fs-14 fw-300 m-0 text-primary">100 Signatures</p>
        </div>
        <button class="btn-outline-dark rounded--lg">Read More</button>
      </div>
    </div>
    <p-paginator [rows]="10" [totalRecords]="120" [rowsPerPageOptions]="[10,20,30]"></p-paginator>
  </div>
</div>
