$primary: #6C7584;
$secondary: #F1EEE9;
$light: #FAFBFF;
$lighten: #D5D8DD;
$lightenMore: #DDE0E3;
$grey: #EAEBF6;
$dark: #303030;
$darken: #555C68;
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$blue: rgb(184, 217, 236);
$violet: #4C56DD;
$light-blue: #c7e4e6;
$pink: #dd8eba;
$light-violet: #ddbaf4;
$black-07: rgba(0, 0, 0, 0.7);
$black-06: rgba(0, 0, 0, 0.06);
$red: red;
$charcoal: #303030;
$seashell: #F0F0F0;
$whiteRock: #E5E5E5;
